html{
    background-color: rgb(251, 189, 184);
}
.square-list {
    list-style-type: square;
}
.letters-list {
    list-style-type: upper-alpha;
}
.nav {
    list-style-type: none;
    background-color:rgb(232, 98, 98);
    padding: 30px;

    margin-bottom: 100px;
}